body {
    background-color: #C9E6EE;
    font-family: "Prompt", sans-serif;
}
.box {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
p {
    margin-bottom: 0 !important;
}
.sign-up-text {
    font-size: 3rem;
    line-height: 72px;
}
.wrapper_2 {
    padding: 3rem 0 3rem 0;
}
.step-text {
    color: #0D5263;
}
.step {
    border: 2px solid #0D5263;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.number {
    font-size: 40px;
    color: #0D5263;
}
.next-icon {
    padding-left: 3rem;
    padding-right: 3rem;
}
.number-gray {
    font-size: 40px;
    color: #B6B6B6;
}
.step-gray{
    color: #B6B6B6;
}
.step-gray-2 {
    border: 2px solid #b6b6b6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.detail {
    background: linear-gradient(to right, #a0d8ef, #005f73);
    color: #0D5263;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.text-label {
    font-size: 18px;
    line-height: 24px;
}
.next-button {
    background-color: #0D5263;
    padding: 0.8rem 3rem;
    margin-top: 2rem;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}
.prev-button {
    background-color: #fff;
    padding: 0.8rem 2.2rem;
    margin-top: 2rem;
    color: #171819;
    border: 2px solid #0D5263;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 1rem;
}

.profile-img-text {
    font-size: 20px;
}
 
.border-profile-img {
    width: 280px;
    height: 280px;
    border: 1px solid #000;
    border-radius: 8px;
}

.profile-img-max-size{
    font-size: 12px;
    margin-bottom: 1rem;
}
.custom-file-upload {
    color: white;
    background-color: #5DCDEA;
    display: inline-block;
    width: 158px;
    height: 39px;
    cursor: pointer;
    font-size: 16px;   
    border-radius: 1000px;
}
input[type="file"] {
    display: none !important;
}

@media screen and (max-width: 431px) {
    body {
        background-color: #fff;
    }
    .number, .number-gray {
        font-size: 20px;
    }
    .step-text, .step-gray {
        font-size: 10px;
    }
    .step, .step-gray-2 {
        width: 32px;
        height: 32px;
    }
    .next-icon {
        width: 60px;
        height: 32px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .detail {
        background: linear-gradient(to right, #a0d8ef, #005f73);
        color: #0D5263;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 30px;
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-weight: 600;
    }
    .sign-up-text{
        font-size: 24px;
    }
    .box {
        background-color: #fff;
        position: relative;
        z-index: 1;
        margin: 0rem !important;
    }
}

@media screen and (max-width: 541px) {
    body {
        background-color: #fff;
    }
    .number, .number-gray {
        font-size: 20px;
    }
    .step-text, .step-gray {
        font-size: 10px;
    }
    .step, .step-gray-2 {
        width: 32px;
        height: 32px;
    }
    .next-icon {
        width: 60px;
        height: 32px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sign-up-text{
        font-size: 30px;
    }
    .detail {
        background: linear-gradient(to right, #a0d8ef, #005f73);
        color: #0D5263;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 30px;
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-weight: 600;
    }
    .box {
        background-color: #fff;
        position: relative;
        z-index: 1;
        margin: 0rem !important;
    }
}
@media screen and (min-width: 542px) and (max-width: 767px) {
    .number, .number-gray {
        font-size: 20px;
    }
    .step-text, .step-gray {
        font-size: 10px;
    }
    .step, .step-gray-2 {
        width: 32px;
        height: 32px;
    }
    .next-icon {
        width: 60px;
        height: 32px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sign-up-text{
        font-size: 30px;
    }
    .detail {
        background: linear-gradient(to right, #a0d8ef, #005f73);
        color: #0D5263;
        font-size: 18px;
        font-weight: bold;
        padding: 12px 30px;
        border-radius: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-weight: 600;
    }
}